/******************************************************************************
 * Content
 ******************************************************************************/

 body {
   padding-bottom: 70px;
   color: var(--global-text-color);
   background-color: var(--global-bg-color);
   font-family: 'Koh Santepheap', cursive;
   font-family: 'Lora', serif;
 }

 body.fixed-top-nav {
   // Add some padding for the nav-bar.
   padding-top: 56px;
 }

 body.sticky-bottom-footer {
   // Remove padding below footer.
   padding-bottom: 0;
 }

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

.hoverable {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out;
}
.card {
  font-weight: 400;
  border: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 16%), 0 2px 10px 0 rgba(0, 0, 0, 12%);
  box-shadow: none;
}


element.style {
  max-width: 750px;
}

.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}
.card {
  box-shadow: none;
}

.card:hover{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 16%), 0 2px 10px 0 rgba(0, 0, 0, 12%);
}

// @media (prefers-color-scheme: dark) {
//   .card {
//     background-color: rgb(79, 79, 79);
//     color: rgb(255, 255, 255);
//   }

//   .card-text{
//     color: rgb(255, 255, 255)  !important;
//   }
// }

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
