---
layout: page
title: blog
pagination:
  enabled: true
  collection: posts
  permalink: /page/:num/
  per_page: 3
  sort_field: date
  sort_reverse: true
  trail:
    before: 1 # The number of links before the current page
    after: 3  # The number of links after the current page
---

<div class="post">

  <ul class="post-list">
    {% for post in paginator.posts %}
    <a class="post-title" href="{{ post.url | prepend: site.baseurl }}">
    <div class="card container mt-3 pt-4 pl-5 pb-5 pr-5">

      <div class="row">
        <h3 style="color: var(--global-theme-color);"> {{ post.title }}</h3>
      </div>

      <div class="row">
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y' }}</p>
      </div>
  
      
      
    
    <div class="row no-gutters">
      <div class="col-sm-3" style="background: #ffffff;">
          {% if post.img %}
              <img src="{{ post.img | relative_url }}" class="card-img" alt="project thumbnail">
          {% endif %}
      </div>
      <div class="col-md-9">    
        <div class="card-body">
              <p>{{ post.description }}</p>
        </div>
      </div>
    </div>
    </div>
  </a>
    {% endfor %}
  </ul>

  

  {% include pagination.html %}

